<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- example configuration that is used during the execution of tests -->

<log4j:configuration>
        
  <appender name="LF5Appender" class="org.apache.log4j.lf5.LF5Appender">
     <param name="MaxNumberOfRecords" value="1000"/> 
  </appender>
  
   <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
	   <layout class="org.apache.log4j.PatternLayout">
	      <param name="ConversionPattern"
	             value="%d{ISO8601} %-5p [%t] %c: %m%n" />
    </layout>
 </appender>
  
  <category name="org.musicbrainz">
	<priority value="trace" />
  </category>
  
  <root>
    <priority value="WARN" />
    <appender-ref ref="ConsoleAppender"/>
  </root>
  
</log4j:configuration>