<?xml version="1.0" encoding="utf-8"?>
<!--

    ﻿Copyright (C) 2013 Johannes Schnatterer

    See the NOTICE file distributed with this work for additional
    information regarding copyright ownership.

    This file is part of nusic-apk.

    nusic-apk is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    nusic-apk is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with nusic-apk.  If not, see <http://www.gnu.org/licenses/>.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="14" android:versionName="@string/versionName" package="info.schnatterer.nusic">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:allowBackup="true"  android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name=".android.application.NusicApplication" android:theme="@style/AppTheme">

        <meta-data android:name="roboguice.annotations.packages" android:value="info.schnatterer.nusic.android.application"/>

        <activity android:label="@string/app_name" android:name=".android.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/action_settings" android:name=".android.activities.NusicPreferencesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".android.activities.NusicWebView">
        </activity>
        <activity android:name=".android.activities.TextAssetActivity">
        </activity>

        <receiver android:name=".android.service.LoadNewReleasesServiceConnectivityReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> -->
            </intent-filter>
        </receiver>
        <receiver android:name=".android.service.LoadNewReleasesServiceBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <!-- Register receiver that starts service after alarm -->
        <receiver android:name=".android.service.LoadNewReleasesService$LoadNewReleasesServiceAlarmReceiver" />

        <service android:name=".android.service.LoadNewReleasesService" />

        <!-- Schedule execution of released today check after boot and timezone changed -->
        <receiver android:name=".android.service.ReleasedTodayService$ReleasedTodaySchedulerReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <!-- Register receiver that starts service after alarm -->
        <receiver android:name=".android.service.ReleasedTodayService$ReleasedTodayServiceStarterReceiver" />

       <service android:name=".android.service.ReleasedTodayService" />
       
        <meta-data android:name="roboguice.modules"
          android:value="info.schnatterer.nusic.android.NusicAndroidModule" />  
        <meta-data android:name="roboguice.annotations.packages" android:value="info.schnatterer.nusic.annotation.apk,info.schnatterer.nusic.annotation.data,info.schnatterer.nusic.annotation.core"/>
    </application>

</manifest>