<!--

    Copyright (C) 2013 Johannes Schnatterer

    See the NOTICE file distributed with this work for additional
    information regarding copyright ownership.

    This file is part of nusic.

    nusic is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    nusic is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with nusic.  If not, see <http://www.gnu.org/licenses/>.

-->
<configuration>
    <!-- Create a logcat appender, that logs only specific statements -->
    <!-- Note: the logger's name is refered to in the code as well! -->
    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <!-- Don't show trace and debug on logcat -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <!-- Write all info to the appenders to allow for individual filtering. -->
    <root level="TRACE">
        <appender-ref ref="LOGCAT" />
    </root>
</configuration>
