<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.schnatterer.nusic"
    android:versionCode="8"
    android:versionName="0.5" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.NusicPreferencesActivity"
            android:label="@string/action_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".service.android.LoadNewReleasesServiceConnectivityReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> -->
            </intent-filter>
        </receiver>
        <receiver android:name=".service.android.LoadNewReleasesServiceBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                 <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.android.LoadNewReleasesService$LoadNewReleasesServiceAlarmReceiver" />

        <service android:name=".service.android.LoadNewReleasesService" />
    </application>

</manifest>